.flagSize{
  width: 30px;
}
.flagres{
  width: 70%;
  border-radius: 3px;
}
th{
  background-color: rgb(243, 73, 73);
}
td{
  background-color: rgba(255, 255, 255, 0.814);
  color: black;
  font-weight: bold;
}
td, th {
  border: 1px solid #e96d6d;
  text-align: left;
  padding: 8px;
}
.button_dodawania{
  width: 100px;
  height: 30px;
  border-radius: 10px;
}
.fill{
  color: black;
  max-width: 1500px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 0 auto;
}
input[type=text], select {
  max-width: 100%;
  padding: 12px 20px;
  margin: 8px 8px 8px 0px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=number] {
  max-width: 35px;
  height: 40px;
  font-size: 30px;
  border: 1px solid #ccc;
  background-color: #3c3b3a;
  color: #fff;
  border-radius: 4px;
  margin: 15px;
  text-align: center;
}
.id1{
  grid-column-start: 1;
  grid-column-end: 2;
}
.id2{
  grid-column-start: 2;
  grid-column-end: 3;
}
.height{
  height: 50px;
}
.btnEdit{
  grid-column-start: 8;
  grid-column-end: 9;
  margin: 10px;
  padding: 10px;
  height: 40px;
  border-radius: 6px;
  background-color: #d3bc07;
  align-self: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.button_dodawania{
  border: 0;
  outline: 0;
  cursor: pointer;
  color: rgb(60, 66, 87);
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 2px 5px 0px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  padding: 4px 8px;
  display: inline-block;
  min-height: 28px;
  transition: background-color .24s,box-shadow .24s;
  margin: 10px;
}
.button_dodawania:hover {
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 3px 9px 0px, rgb(60 66 87 / 8%) 0px 2px 5px 0px;
}
.button_zatwierdz{
  margin: 10px;
  display: inline-block;
  outline: 0;
  cursor: pointer;
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 6px;
  color: #ffffff;
  background-color: #2ea44f;
  border-color: #1b1f2326;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
}
  .button_zatwierdz:hover {
      background-color: #2c974b;
      border-color: #1b1f2326;
      transition-duration: 0.1s;
  }

h4{
  margin: 2%;
}
.wyniki{
  background-color: #3c3b3a;
  color: white;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr 80px 15px 80px 2fr 1fr;
}
.empty{
  grid-row-start: 2;
  grid-row-end: 3;
}
.image1{
  display: flex;
  justify-self: center;
  align-self: center;
}
.text1{
  font-size: 20px;
  align-self: center;
}
.number1{
  grid-column-start: 3;
  grid-column-end: 4;
  justify-self: center;
  align-self: center;
}
.vs{
  grid-column-start: 4;
  grid-column-end: 5;
  align-self: center;
}
.number2{
  grid-column-start: 5;
  grid-column-end: 6;
  justify-self: center;
  align-self: center;
}
.image2{
  grid-column-start: 7;
  grid-column-end: 8;
  display: flex;
  justify-self: center;
  align-self: center;
}
.text2{
  grid-column-start: 7;
  grid-column-end: 8;
  font-size: 20px;
  align-self: center;
}
.matchData{
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;
}
.matchTime{
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 5;
}

@media (max-width: 820px){
.wyniki{
  grid-template-columns: 2fr 80px 15px 80px 2fr;
}
.empty{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 5;
}
.image1{
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-self: center;
}
.text1{
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: 20px;
}
.number1{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  align-self: center;
}
.vs{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  align-self: center;
}
.number2{
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  align-self: center;
}

.image2{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 5;
  grid-column-end: 6;
  display: flex;
  justify-self: center;
}
.text2{
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: 20px;
}
.matchData{
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}
.matchTime{
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
}
}
@media (max-width: 425px){
  .wyniki{
    grid-template-columns: 1fr 15px 1fr;
  }
  .empty{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .image1{
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-self: center;
  }
  .text1{
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 20px;
  }
  .number1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: center;
  }
  .vs{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    align-self: center;
  }
  .number2{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: center;
  }
  .image2{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    justify-self: center;
  }
  .text2{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 20px;
  }
  .matchData{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .matchTime{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
  }
}